<div class="footer-cr"><br>
    <span>
    <a href="PrivacyPolicy.html" target="_blank">Privacy Policy </a>
    |
    <!-- <a href="STEM_Coding_School_Brochure.pdf" download="STEM Coding School Privacy Policy">Privacy Policy |</a> -->
    <a href="TermsConditions.html" target="_blank">Terms & Conditions </a>
    |
    <a href="disclaimer.html" target="_blank">Disclaimer</a>
    </span>
    <span><i class="far fa-copyright"></i> Stem Coding School LLP | All Rights Reserved</span>

  </div>
</body>
</html>