<!-- navbar-start -->
<section id="dropdown">

  <div class="container-fluid ">
    <nav class="navbar navbar-expand-md navbar-light ">
      <img class="brand-image" src=" images\Logo.png" alt="brand-image">
      <a class="navbar-brand pb-2" href="/">STEM Coding School</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav  ml-auto">

          <!-- implementation of Courses submenu-dropdown -->

          <li class="nav-item dropdown">
            <a class="nav-link  " href="/#course" id="navbarDropdownMenuLink"> Courses </a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="FAQ.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Why Learn Coding </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="FAQ.html">FAQ</a></li>
            </ul>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> About Us</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/about">Team</a></li>
              <li><a class="dropdown-item" href="STEM_Coding_School_Brochure.pdf" target="_blank">Brochure</a></li>
              <!-- <li><a class="dropdown-item" href="madhūka NATURELLE Company Profile v1.0.pdf">Beekeeping</a></li> -->
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<hr>