<%- include("partials/header"); %> 
<body>
  <!-- navbar-start -->
  <%- include("partials/nav"); %> 
  <!-- navbar-end -->
  <!-- carousel -->
  <hr>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images\sm3.png" style="width:500px;height:400px;" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\dm1.png" style="width:500px;height:400px;" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\PLM1.jpeg" style="width:500px;height:400px;" class="d-block " alt="...">
      </div>
      <!-- <div class="carousel-item ">
        <img src="images\famous-3.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\famous-4.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\famous-5.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\famous-6.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\famous-7.jpg" class="d-block " alt="...">
      </div>
      <div class="carousel-item ">
        <img src="images\famous-8.jpg" class="d-block " alt="...">
      </div> -->

    </div>
    <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  <hr>
  <br>

  <section id="cource">
    <h1>Our Team</h1>
    <div class="container-fluid">
      <div class="flex-item-1 ">
        <div class="card">
          <div class="card-header">
            <h2>Co-Founder</h2>
            <!--<h2> Age 4+ Years</h2> -->
          </div>
          <div class="card-body">
            <!--  <p><b>Age Group 4+ Years</b></p> -->
            <p>A Software Technologist, Currently outreaching & interconnecting urban and
              rural student community to promote STEM - Humanity thru coding and computer science.</p>
          </div>
          <div class="card-footer"><a class="btn btn-lg btn-outline-dark btn-block" href="Sudhanshu.html">Sudhanshu Malhotra</a></div>
        </div>

      </div>
      <div class="flex-item-2">
        <div class="card">
          <div class="card-header">
            <h2>Co-Founder</h2>
          </div>
          <div class="card-body">
            <p>An astute leader with over 31 years of field experience in
              Manufacturing Engineering & Beekeeping Training </p>
            <!-- <button type="button" class="btn btn-lg btn-outline-dark btn-block"> Learn more </button> -->
          </div>
          <div class="card-footer"><a class="btn btn-lg btn-outline-dark btn-block" href="Devendra.pdf">Devendra Malhotra</a></div>
        </div>

      </div>
      <div class="flex-item-3">
        <div class="card">
          <div class="card-header">
            <h2> Mentor </h2>
          </div>
          <div class="card-body">
            <p>
             A professional with a strong knowledge about entomology concepts and
             60 years experience of beekeeping operations.
            </p>

          </div>
          <div class="card-footer"> <a class="btn btn-lg btn-outline-dark btn-block" href="PLMalhotra.pdf">P L Malhotra</a></div>
        </div>
      </div>
      <!--
      <div class="flex-item-4">
        <div class="card">
          <div class="card-header">
            <h2>Fast Track : Java </h2>
          </div>
          <div class="card-body">
            <p>After Taking Off, designed for high school students who want to explore the world of building solutions and dreaming up
              new creations through programming.
            </p>
          </div>
          <div class="card-footer"><a class="btn btn-lg btn-outline-dark btn-block" href="FastTrack_Java.html">Learn more</a>
          </div>
        </div>
      </div>
      <div class="flex-item-5 ">
        <div class="card">
          <div class="card-header">
            <h2>Path Ahead: Pro Coding</h2>
          </div>
          <div class="card-body">
            <p>In future we also aim to provide training in competitive programming.</p>

          </div>
          <div class="card-footer"><a class="btn btn-lg btn-outline-dark btn-block" href="PathAhead.html">Learn more</a></div>
        </div>
      </div>
      <div class="flex-item-6">
        <div class="card">
          <div class="card-header">
            <h2>Ethical: Beekeeping</h2>
          </div>
          <div class="card-body">
            <p>
              Learn importance of Honey Bees to our planet along with STEM principles.
            </p>
            <p>
              At madhūka NATURELLE, we are 3rd generation beekeepers, and our whole family does beekeeping.
              Let us teach you how to be ethical beekeepers!
            </p>

          </div>
          <div class="card-footer"><a class="btn btn-lg btn-outline-dark btn-block" href="Beekeeping.html">Learn more</a></div>
        </div>
      </div> -->
    </div>
  </section>

  <div class=" row">
    <div class="col-lg-6">
      <div id="form">
        <h3 id="inquire">Inquire</h3>
        <form class="" action="mailto:stemcodingschool@gmail.com" method="post" enctype="text/plain">
          <input class="allign" type="text" name="name" placeholder="YOUR NAME">
          <input class="allign" type="text" name="phone number" placeholder="PHONE NUMBER">
          <input class="allign" type="text" name="email" placeholder="YOUR EMAIL">
          <textarea style="height:100px" class="allign" name="message" placeholder="YOUR MESSAGE"></textarea>
          <button class="allign" type="SUBMIT"> SUBMIT </button>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.112025605757!2d78.06215571512229!3d30.34776598177299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd541939922aef72!2sSTEM%20Coding%20School%20LLP!5e0!3m2!1sen!2sin!4v1609763069742!5m2!1sen!2sin"
        id="map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>

  <div class="footer  row">
    <a class="fas fa-arrow-alt-circle-up  btn-lg mr-auto" href="#"> Top </a>
    <div class="col-lg-6">
      <img class="image-size" src="images\transparent white.png" alt="STEM-LOGO">
      <p>44/1,3 Body Guard, Canal Road, Dehradun 248001 Uttarakhand, India</p>
      <p>
      <strong>Phone:</strong>
      <a href="tel://+919599037732">+91 959-903-7732</a>
      </p>
      <p>
      <a class="fab fa-linkedin-in fa-2x" style='font-size:24px' href="https://www.linkedin.com/company/stem-coding-school-llp"></a>
      <a class="fab fa-github fa-2x" style='font-size:24px' href="https://github.com/login"></a>
      <a class="fab fa-facebook fa-2x" style='font-size:24px' href="https://www.facebook.com/"></a>
      <a class="fab fa-twitter fa-2x" style='font-size:24px' href="https://twitter.com/login?lang=en-gb"></a>
      </p>
      <!-- <a class="fab fa-facebook fa-2x" href="https://www.facebook.com/"></a>
      <a class="fab fa-twitter fa-2x" href="https://twitter.com/login?lang=en-gb"></a>
      <a class="fab fa-instagram fa-2x" href="https://www.instagram.com/"></a> -->
      <!-- <a class="fab fa-linkedin-in fa-2x" href="https://www.linkedin.com/company/stem-coding-school-llp"></a> -->
      <!-- <a class="fab fa-github fa-2x" href="https://github.com/login"></a> -->
    </div>

  </div>
  <%- include("partials/footer"); %> 