<%- include("partials/header"); %> 

<body>
  <!-- navbar-start -->
  <%- include("partials/nav"); %> 
  <!-- navbar-end -->

  <div id="Description" class="container container-1">

    <div class="flexItem-1">
      <h2>Description</h2>
      <p>Learn to build any app & Start your own app based business as a freelance iOS developer.
      </p>
      <p>
        After taking this course, students will completely understand difficult concepts:
      </p>
      <ul>
        <li>Apple's latest UI Framework - SwiftUI</li>
        <li>Create apps that use Machine Learning using Apple’s new CoreML</li>
        <li>Augmented Reality apps using Apple’s new ARKit</li>
        <li>How to wireframe, mockup and prototype any app idea</li>
      </ul>
    </div>
    <div class="flexItem-2">
      <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container" style="padding:0px;">
          <h3 id="Curriculum Layout">Curriculum Layout</h3>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- first-started -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-1">
                <h4 class="panel-title">

                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Phase 1: Setup iOS Development Environment
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Course-1">
                <div class=" panel-body px-3 mb-4">
                  <ul>
                    <li>Setup iOS Development Environment</li>
                    <ul>
                      <li>Xcode Development Environment</li>
                      <li>Xcode Storyboards & Interface Builder </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Phase 2: Swift Programming
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-2">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Swift Programming</li>
                    <ul>
                      <li>Collections, Constants & Variables</li>
                      <li>Auto Layout & Responsive UIs</li>
                      <li>Apple Documentation</li>
                      <li>Control Flow & Optionals</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Phase 3: iOS App Design Patterns & Code Structuring
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-3">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>iOS App Design Patterns</li>
                    <ul>
                      <li>Structures</li>
                      <li>MVC Design Pattern</li>
                      <li>Code Structuring</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- NextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    Phase 4: Advanced Swift Programming
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-4">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Advanced Swift Programming</li>
                    <ul>
                      <li>Classes & Inheritance</li>
                      <li>Segues and Navigation for Multi-Screen Apps</li>
                      <li>Advanced Optionals</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextstarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-5">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    Phase 5: Networking, JSON Parsing
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-5">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Networking, JSON Parsing</li>
                    <ul>
                      <li>Protocols</li>
                      <li>JSON Decoding</li>
                      <li>APIs</li>
                      <li>Core Location</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-6">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    Phase 6: Command Line, Terminal & GitHub
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-6">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Command Line, Terminal & GitHub</li>
                    <ul>
                      <li>Command Line Techniques and Directory Navigation</li>
                      <li>Creating, Opening, and Removing Files</li>
                      <li>Version Control Using Git and the Command Line</li>
                      <li>GitHub and Remote Repositories</li>
                      <li>Gitignore, Cloning, Branching & Merging</li>
                      <li>Forking and Pull Requests</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-7">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7I ">
                    Phase 7: Firebase, TableViews & Cocoapod
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-7">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Firebase, TableViews & Cocoapod</li>
                    <ul>
                      <li>Firebase Cloud Firestore</li>
                      <li>Package Manager</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>

            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-8">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                    Phase 8: SwiftUI, Local Data Persistence
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-8">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>SwiftUI, Local Data Persistence</li>
                    <ul>
                      <li>SwiftUI App</li>
                      <li>Declarative Programming</li>
                      <li>UITableViewController</li>
                      <li>User Defaults</li>
                      <li>Core Data</li>
                      <li>Realm</li>

                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-9">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                    Phase 9: Advanced Swift
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-9">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Advanced Swift</li>
                    <ul>
                      <li>Advanced Swift Properties</li>
                      <li>Advanced Swift Optionals</li>
                      <li>Swift Access Levels</li>
                      <li>MVC</li>
                      <li>In-App Purchase with Apple StoreKit</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-10">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                    Phase 10: CoreML: Machine Learning & Natural Language Processing
                  </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-10">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>CoreML: Machine Learning & Natural Language Processing</li>
                    <ul>
                      <li>Machine Learning</li>
                      <li>CoreML</li>
                      <li>CoreML Tools</li>
                      <li>Converting Models</li>
                      <li>Train a Brand New Machine Learning Model</li>
                      <li>CreateML for Natural Language Processing</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-11">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                    Phase 11: ARKit
                  </a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-11">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>ARKit</li>
                    <ul>
                      <li>Augmented Reality</li>
                      <li>3D Object in Augmented Reality</li>
                      <li>Advanced ARKit</li>
                      <li>ARKit & Live Tracking</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-12">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="true" aria-controls="collapse12">
                    Phase 12: Publish Your App on to the App Store
                  </a>
                </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-12">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Publish Your App</li>
                    <ul>
                      <li>Publish Your App on to the App Store</li>
                      <li>Useful Tools to Help You with App Submissions</li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
            <!-- FINISHED -->
          </div>
        </div>
      </section>
    </div>

    <div class="flexItem-3">
      <h2>What’s Included</h2>
      <ul>
        <li>Interactive Online 60 mins Sessions</li>
        <li>Phase wise customized curriculum</li>
        <li>Be able to build ANY iOS App you want</li>
        <li>Publish Your App on to the App Store</li>
        <li>App Development with Swift certification</li>
      </ul>

      <a class="btn btn-lg btn-outline-secondary btn-block" href="index.html#inquire"><strong>₹375</strong> <strike> ₹750 </strike> Discount 50% off Per Class<br> <b>Inquire Now</b></a>
    </div>
  </div>

  <div class="container container-3">
    <h2 id="Course Standards">Course Standards</h2>
    <ul>
      <li>
        <p> <a href="https://k12cs.org/wp-content/uploads/2016/09/K%E2%80%9312-CS-Framework-Statements-Grade-Band-View.pdf">K-12 Computer Science Framework</a></p>
      </li>
      <li>
        <p> <a href="https://sites.google.com/site/cstastandards/standards">CSTA K-12 Computer Science Standards</a></p>
      </li>
    </ul>
    <h2 id="Technical Requirements">Technical Requirements</h2>
    <ul>
      <li>Desktop, Tab, Laptop</li>
      <li>Internet Connection (Broadband preferred)</li>
      <li>Any Modern Browser (Safari, Chrome, Edge, Mozilla)</li>
      <li>Any video conferencing software(Zoom preferred)</li>
      <li>Mic, Speaker & Camera</li>
    </ul>
  </div><br>

  <div class="container-4 row" style="margin:00px;">
    <a class="fas fa-arrow-alt-circle-up  btn-lg mr-auto" href="#dropdown"> Top </a>
    <div class="col-lg-6">
      <img class="image-size" src="images\transparent white.png" alt="STEM-LOGO">
      <p>
        <i class="fab fa-whatsapp"></i>
        <a href="tel://+919599037732">+91 959-903-7732</a>
      </p>
    </div>
  </div>

  <div class="footer-cr"><br>
    <span>
      <a href="PrivacyPolicy.html" target="_blank">Privacy Policy </a>
      |
      <!-- <a href="STEM_Coding_School_Brochure.pdf" download="STEM Coding School Privacy Policy">Privacy Policy |</a> -->
      <a href="TermsConditions.html" target="_blank">Terms & Conditions </a>
      |
      <a href="disclaimer.html" target="_blank">Disclaimer</a>
    </span>
    <span><i class="far fa-copyright"></i> Stem Coding School LLP | All Rights Reserved</span>

  </div>

</body>

</html>
