<%- include("partials/header"); %> 

<body>
  <!-- navbar-start -->
  <%- include("partials/nav"); %> 
  <!-- navbar-end -->
  <div class="container" style="padding:0px;">
    <div class="row container">

      <div class="col-lg-6">
        <h1>Next Steps: Game Lab</h1>
        <hr>
        <h6>Recommended for those who know block-based coding</h6>
      </div>

      <nav class=" navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <!--  <a class="navbar-brand pb-2 " href="#">K-5</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
              <li class="nav-item">
                <a class="nav-link " href="#Description">Description</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#Curriculum Layout">Curriculum</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#Course Standards">Course Standards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#Technical Requirements">Technical Requirements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="index.html#inquire">Request a Demo</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- nav bar ended -->

  <div id="Description" class="container container-1">

    <div class="flexItem-1">
      <h2>Description</h2>
      <p>With understanding of fundamentals you are now ready to pickup the essential tools.
        After taking this course, students will be developing interactive games, animations
        and web pages using HTML, CSS & Javascript.</p>

      <ul>
        <li>Animations</li>
        <li>Games</li>
        <li>Web Pages</li>

      </ul>
    </div>
    <div class="flexItem-2">
      <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container" style="padding:0px;">
          <h3 id="Curriculum Layout">Curriculum Layout</h3>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <!-- phase first-started -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-2">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Phase 1: Problem Solving and Computing
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-2">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Problem Solving and Computing </li>
                    <li>Approx. 6 sessions to complete</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- phase 2 Started -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-3">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Phase 2: Basic Web Development
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-3">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Basic Web Development</li>
                    <ul>
                      <li>Explore HTML</li>
                      <li>Styling with CSS</li>
                      <li>Develop Personal Website</li>
                    </ul>

                    <li>Approx. 21 sessions to complete</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- NextStarted -->
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-4">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    Phase 3: Develop Animations, Interactive Art, and Games in Game Lab
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-4">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Develop Animations, Interactive Art, and Games in Game Lab</li>
                    <ul>
                      <li>Design Animations in Game Lab</li>
                      <ul>
                        <li>Shapes & Parameters</li>
                        <li>Variables</li>
                        <li>Random Numbers</li>
                        <li>Game Lab Text Commands</li>
                        <li>Draw Loop</li>
                        <li>Conditionals</li>
                        <li>Keyboard Input</li>
                        <li>Mouse Input</li>
                      </ul>
                      <li>Designing Games</li>
                      <ul>
                        <li>Velocity</li>
                        <li>Collison Detection</li>
                        <li>Complex Movements</li>
                        <li>Collisions</li>
                        <li>Functions</li>
                        <li>Game Design Process</li>
                      </ul>
                    </ul>
                    <li>Approx. 30 sessions to complete</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- nextstarted
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="Course-5">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    Phase 4: Designing Concept
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpane1" aria-labelledby="Course-5">
                <div class="panel-body px-3 mb-4">
                  <ul>
                    <li>Designing Concepts</li>
                    <ul>
                      <li>User-Centered Design Process</li>
                      <li>App Prototyping</li>
                    </ul>
                    <li>Approx. 16 sessions to complete</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- FINISHED -->
          </div>

        </div>
      </section>
    </div>

    <div class="flexItem-3">


      <h2>What’s Included</h2>
      <ul>
        <li>One on One Interactive Online 60 mins Sessions</li>
        <li>Phase wise customized curriculum</li>
        <li>Series of puzzles simmulating real world scenarios</li>
        <li>Style web pages using HTML and CSS</li>
        <li>Program animations, interactive art, and games</li>
      </ul>

      <a class="btn btn-lg btn-outline-secondary btn-block" href="index.html#inquire"><strong>₹375</strong> <strike> ₹750 </strike> Discount 50% off Per Class<br> <b>Inquire Now</b></a>
    </div>
  </div>

  <div class="container container-3">
    <h2 id="Course Standards">Course Standards</h2>
    <ul>
      <li>
        <p> <a href="https://k12cs.org/wp-content/uploads/2016/09/K%E2%80%9312-CS-Framework-Statements-Grade-Band-View.pdf">K-12 Computer Science Framework</a></p>
      </li>
      <li>
        <p> <a href="https://sites.google.com/site/cstastandards/standards">CSTA K-12 Computer Science Standards</a></p>
      </li>
    </ul>
    <h2 id="Technical Requirements">Technical Requirements</h2>
    <ul>
      <li>Desktop, Tab, Laptop</li>
      <li>Internet Connection (Broadband preferred)</li>
      <li>Any Modern Browser (Safari, Chrome, Edge, Mozilla)</li>
      <li>Any video conferencing software(Google Meet or Zoom preferred)</li>
      <li>Mic, Speaker & Camera</li>
    </ul>
  </div><br>

  <div class="container-4 row" style="margin:00px;">
    <a class="fas fa-arrow-alt-circle-up  btn-lg mr-auto" href="#dropdown"> Top </a>
    <div class="col-lg-6">
      <img class="image-size" src="images\transparent white.png" alt="STEM-LOGO">
      <p>
        <i class="fab fa-whatsapp"></i>
        <a href="tel://+919599037732">+91 959-903-7732</a>
      </p>
    </div>
  </div>

  <div class="footer-cr"><br>
    <span>
      <a href="PrivacyPolicy.html" target="_blank">Privacy Policy </a>
      |
      <!-- <a href="STEM_Coding_School_Brochure.pdf" download="STEM Coding School Privacy Policy">Privacy Policy |</a> -->
      <a href="TermsConditions.html" target="_blank">Terms & Conditions </a>
      |
      <a href="disclaimer.html" target="_blank">Disclaimer</a>
    </span>
    <span><i class="far fa-copyright"></i> Stem Coding School LLP | All Rights Reserved</span>

  </div>

</body>

</html>
